// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top: 0.1rem;
}

.admin-userlist-title {
  font-size: 3rem;
  text-align: center;
}

.user-list-item {
  text-align: center;
}

// Standard length modifiers

.btn.plusten {
  padding: 5px 30px 5px 30px;
}